* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    /* set font size to 10px */
    font-size: 62.5%;
    font-family: Montserrat, "Lucida Sans", "Lucida Sans Regular",
        "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.hide-me {
    visibility: hidden;
}

body {
    /* from https://cssgradient.io/ */
    background: rgb(164, 255, 234);
    background: linear-gradient(
        90deg,
        rgba(164, 255, 234, 1) 0%,
        rgba(157, 255, 194, 1) 50%,
        rgba(176, 255, 152, 1) 100%
    );
}

h1 {
    display: flex;
    justify-content: center;
    margin: 1rem 0 2rem 0;
    font-size: 2.5rem;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#todo-input {
    border-radius: 0.8rem;
    border: 2px solid rgb(3, 48, 3);
    padding: 0.2rem;
}

#todo-input:focus {
    outline: none;
    box-shadow: 0 0 1.2rem 0.5rem rgba(0, 0, 0, 0.08);
    transition: box-shadow 0.2s ease-in-out;
}

#todo-list,
#done-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.todo-task {
    display: flex;
    flex-direction: row;
    align-items: center;

    border: 1px solid black;
    /* padding: 0 5px 0 5px; */
}

.todo-text {
    min-width: 15rem;
    max-width: 15rem;
    /* margin-right: 15px; */
}

.task-button {
    justify-content: center;
    max-height: 5rem;
}

.buttons {
    align-items: center;
}

.delim {
    max-width: 80%;
    margin: 1.5rem auto 1.5rem auto;
}

.error-message {
    color: red;
    font-weight: bold;
    margin: 0.5rem;
    min-height: 2.5rem;
    opacity: 1;
    transition: opacity 0.5s eas-in-out;
    -webkit-transition: opacity 0.5s ease-in-out;
}

.fade {
    opacity: 0;
}
