* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    /* set font size to 10px */
    font-size: 62.5%;
    font-family: Montserrat, "Lucida Sans", "Lucida Sans Regular",
        "Lucida Grande", "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}

.hide-me {
    visibility: hidden;
}

body {
    /* from https://cssgradient.io/ */
    background: rgb(164, 255, 234);
    background: linear-gradient(
        90deg,
        rgba(164, 255, 234, 1) 0%,
        rgba(157, 255, 194, 1) 50%,
        rgba(176, 255, 152, 1) 100%
    );
}

h1 {
    display: flex;
    justify-content: center;
    margin: 1rem 0 2rem 0;
    font-size: 2.5rem;
}
.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

#todo-input,
.submit {
    border-radius: 0.8rem;
    border: 0.2rem solid rgb(3, 48, 3);
    box-shadow: 0rem 0.2rem rgb(35, 35, 35);
    padding: 0.4rem;
    background-color: white;
}

#todo-input:hover,
.submit:hover {
    background-color: rgb(248, 248, 248);
    transition: background-color 0.11s ease-in-out;
}

#todo-input:focus,
.submit:active {
    outline: none;
    box-shadow: 0rem 0.1rem rgb(3, 3, 3);
    transform: translateY(0.1rem);
}

#todo-list,
#done-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.todo-task {
    display: flex;
    flex-direction: row;
    align-items: center;

    border: 1px solid black;
    /* padding: 0 5px 0 5px; */
}

.todo-text {
    min-width: 15rem;
    max-width: 15rem;
    /* margin-right: 15px; */
}

.task-button {
    justify-content: center;
    max-height: 5rem;
}

.buttons {
    align-items: center;
}

.delim {
    max-width: 80%;
    margin: 1.5rem auto 1.5rem auto;
}

.error-message {
    color: red;
    font-weight: bold;
    margin: 0.5rem;
    min-height: 2.5rem;
    opacity: 1;
    transition: opacity 0.5s eas-in-out;
    -webkit-transition: opacity 0.5s ease-in-out;
}

.fade {
    opacity: 0;
}

.fadeInLeft {
    -webkit-animation: fadeInLeft 500ms both;
    -moz-animation: fadeInLeft 500ms both;
    -o-animation: fadeInLeft 500ms both;
    animation: fadeInLeft 500ms both;
}

@-webkit-keyframes fadeInLeft {
    0% {
        opacity: 0;
        -webkit-transform: translateX(-5rem);
    }
    100% {
        opacity: 1;
        -webkit-transform: translateX(0);
    }
}
@-moz-keyframes fadeInLeft {
    0% {
        opacity: 0;
        -moz-transform: translateX(-5rem);
    }
    100% {
        opacity: 1;
        -moz-transform: translateX(0);
    }
}

@-o-keyframes fadeInLeft {
    0% {
        opacity: 0;
        -o-transform: translateX(-5rem);
    }
    100% {
        opacity: 1;
        -o-transform: translateX(0);
    }
}
@keyframes fadeInLeft {
    0% {
        opacity: 0;
        transform: translateX(-5rem);
    }
    100% {
        opacity: 1;
        transform: translateX(0);
    }
}

.fadeOutRight {
    -webkit-animation: fadeOutRight 500ms both;
    -moz-animation: fadeOutRight 500ms both;
    -o-animation: fadeOutRight 500ms both;
    animation: fadeOutRight 500ms both;
}

@-webkit-keyframes fadeOutRight {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        -webkit-transform: translateX(-5rem);
    }
}
@-moz-keyframes fadeOutRight {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        -moz-transform: translateX(-5rem);
    }
}

@-o-keyframes fadeOutRight {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        -o-transform: translateX(-5rem);
    }
}
@keyframes fadeOutRight {
    0% {
        opacity: 1;
    }
    100% {
        opacity: 0;
        transform: translateX(-5rem);
    }
}

.fadeInTop {
    -webkit-animation: fadeInTop 500ms both;
    -moz-animation: fadeInTop 500ms both;
    -o-animation: fadeInTop 500ms both;
    animation: fadeInTop 500ms both;
}

@-webkit-keyframes fadeInTop {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-5rem);
    }
    100% {
        opacity: 1;
        -o-transform: translateY(0);
    }
}
@-moz-keyframes fadeInTop {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-5rem);
    }
    100% {
        opacity: 1;
        -o-transform: translateY(0);
    }
}

@-o-keyframes fadeInTop {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-5rem);
    }
    100% {
        opacity: 1;
        -o-transform: translateY(0);
    }
}
@keyframes fadeInTop {
    0% {
        opacity: 0;
        -webkit-transform: translateY(-5rem);
    }
    100% {
        opacity: 1;
        -o-transform: translateY(0);
    }
}
